<nav class="bg-[#9900CC] text-white h-24 text-5xl">
    <ul class="ml-24 flex py-10">
        <li><a href="#">link1</a></li>
        <li><a href="#">link2</a></li>
        <li><a href="#">link3</a></li>
        <li><a href="#">link4</a></li>
    </ul>
</nav>